<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PocketCrawler WatchKit App (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PocketCrawler WatchKit App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PocketCrawler WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22931D5826B46EAD00B4C253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22931D5C26B46EAD00B4C253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22931D8126B46EAF00B4C253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22931D8B26B46EAF00B4C253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
